.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 50px); /* Adjust the subtraction value as needed */
}

@media (max-width: 700px) {
  .h-custom {
  height: 100%;
  }
}
.proCard {
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.proCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
 
}

.proCard:hover .cardTitle {
  text-decoration: underline;
}


@import url('../src/assets/vendor/bootstrap-icons/bootstrap-icons.css');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i");

@import url('./assets/css/hover.css');

@import url('./assets/css/projectDetails.css');
/* navbar */
nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
#logo{
  font-weight: bolder;
  padding: 5px;
  font-size: 30px; 
  /* margin-right: 180px; */
  color: #1a408c
}
.hover-bleu{
    font-size: 20px !important;
}

.hover-bleu:hover{
  color: #2772db !important;
font-weight: bolder;
font-size: 21px;
border-bottom: 3px solid #2772db;
}
.hover-drop{
  font-size: 20px !important;
}

.hover-drop :hover{
  font-size: 20px !important;
  color: #2772db !important;
  font-weight: bolder;
}
.home-img{
 border-radius:20px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.home-g{
  border-radius: 20px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.nav-font{
   color: #213764 !important;
    font-Size:2rem !important ;
}

.bg-img {
  font-family: "Open Sans", sans-serif;
  color: #213764;
  background: url("https://i.pinimg.com/564x/33/36/75/3336755cd3724ad1e3255a09bc645090.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px;

} 

 .bg-img::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* background: rgba(255, 255, 255, 0.8) !important; */


}
.bg-darkbleu{
  background-color: #1a408c;
}
.bg-lightbleu{
  background-color:rgb(218 234 240);
}
.dark-bleu{
  color: #1a408c;
}