.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 50px); /* Adjust the subtraction value as needed */
}

@media (max-width: 700px) {
  .h-custom {
  height: 100%;
  }
}
.proCard {
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.proCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
 
}

.proCard:hover .cardTitle {
  text-decoration: underline;
}


@import url('../src/assets/vendor/bootstrap-icons/bootstrap-icons.css');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i");

@import url('./assets/css/hover.css');

@import url('./assets/css/projectDetails.css');
/* navbar */
nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
#logo{
  font-weight: bolder;
  color:  #070f4e;
  padding: 5px;
  font-size: 30px;
}
.hover-bleu{
    font-size: 20px !important;
}

.hover-bleu:hover{
  color: #2772db !important;
font-weight: bolder;
font-size: 21px;
border-bottom: 3px solid #2772db;
}
.hover-drop{
  font-size: 20px !important;
}

.hover-drop :hover{
  font-size: 20px !important;
  color: #2772db !important;
  font-weight: bolder;
}

/* Contact */
#contact h4 {
  color: #070f4e;
}
.contact .info-wrap {
  background:rgba(98, 95, 103, 0.327);
  padding: 30px;
}

.contact .info i {
  font-size: 25px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background:rgba(228, 226, 231, 0.327);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background:  #2772db;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background:  #2772db;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  padding-top: 0;
  background: rgba(98, 95, 103, 0.327);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 4px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
  background: rgba(247, 241, 241, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color:#070f4e;
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background:#2772db;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
  background:#2772db;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
