










section {
    background: #ffffff;
    background: -webkit-linear-gradient(to right, #fff, #fff);
    background: linear-gradient(to right, #fff, #fff);
    padding-top: 36px;
    overflow-y: hidden;
}

main {
    background: rgba(217, 214, 228, 0.12);
    border-radius: 10px;
    padding: 5px 20px 50px;
    width: 95%;
   height: 540px;
    max-width: 500px;
    margin: 0 auto 214px;
}

.text-container {
    text-align: center;
}

.quiz-options {
    margin: 60px 0;
}


label {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background:#F4F5F8;
    margin-bottom: 15px;
    padding: 6px 0;
    position: relative;
    width: 70%;
    color: #000;
}

.btnNext {
    border: 1px solid #fef9f900;
    border-radius: 40px;
    background: rgb(34,71,144);
    color: #fff;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    width: 20%;
    /* margin: 0 auto; */
    outline: none;
    padding: 11px 0;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.btnNext:hover{
    background: rgb(206, 230, 247);
    color: #121111;
}
.btnPrevious{
    border: 1px solid #fef9f900;
    border-radius: 40px;
    background: rgb(34,71,144);
    color: #fff;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    width: 20%;
    /* margin: 0 auto; */
    outline: none;
    padding: 11px 0;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;  
}
.btnPrevious:hover{
     background: rgb(221, 219, 218);
    color: #121111;
}
.headerQuiz {
    background: rgb(34,71,144);
    color: #fff;
    border-radius: 20px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
