.headerPage {
    background-color: #daeaf088;
    padding: 10px;
    border-radius: 5px;

  }
  
  .headerPage-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .headerPage-path {
    color: #666;
    font-size: 14px;
  }
  .darkBleu{
    color:#1a408c ;
  }