.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #4b51c9;
  --bg-color: #7894d7;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px  var(--bg-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(25px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  stroke: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
.three-dots-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(159, 160, 211, 0.68);
  padding: '0.2rem' ;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.dropdown-item {
  padding: 3px 15px;
  color: #000;
  text-decoration: none;
  display: block;
}
.dropdown-item:hover {
  background-color: #ddddddbd;
}
.employee-label {
  font-size: 14px;
  font-weight: bold;
  color: #282525;
}

